/* header section styles */


body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
}

.header-content {
    text-align: right;
    margin-right: 180px;
    padding-top: 150px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;

}

.banner-head {
    font-size: 65px;
}